 <!--Card-->
 <mdb-card class="align-items-center">
  
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" alt=""></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <mdb-card-body class="text-center">
      <!--Category & Title-->
      <a href="" class="grey-text">
        <h5>Shirt</h5>
      </a>
      <h5>
        <strong>
            <a href="" class="dark-grey-text">Denim shirt
              <mdb-badge pill="true" danger="true">NEW</mdb-badge>
            </a>
          </strong>
      </h5>

      <h4 class="font-weight-bold blue-text">
        <strong>120$</strong>
      </h4>

    </mdb-card-body>
    <!--Card content-->

  </mdb-card>
  <!--Card-->
