<!--Footer-->
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
  
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">News letter</h5>
              <p class="font-weight-light">Subscribe now .</p>
              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Subscribe</button>
                </div>
              </form>
            </div>

            <div class="col-md-4 ml-0 mt-md-0 mt-3">
            </div>
      

         <!-- Grid column -->
         <div class="col-md-2 ml-0 mt-md-0 mt-3">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <mdb-navbar-brand>
              <a class="logo navbar-brand" routerLink="/"><mdb-icon class="fa-lg" title="Blender ." fas icon="blender-phone"></mdb-icon></a>
          </mdb-navbar-brand>
          
          </div>
        </div>
       
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
       
        <!-- Grid column -->
      
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a routerLink="/" class="sofia font-italic text-lg-center" style="text-shadow: 4px 4px 4px #ababab;"> Blender</a>
      
    </div>
    <!-- Copyright -->
  

  <!-- Footer -->