<!--Footer-->
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">News letter</h5>
          <p class="font-weight-light">Subscribe now .</p>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Subscribe</button>
            </div>
          </form>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="#" alt="">
              <mdb-icon fab icon="facebook" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="#" alt="">
                <mdb-icon fab icon="twitter" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="#" alt="">
                <mdb-icon fab fab icon="google-plus" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="#" alt="">
                <mdb-icon fab icon="linkedin" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="#" alt="">
                <mdb-icon fab icon="instagram" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="#" alt="">
                <mdb-icon fab icon="pinterest" size="3x" class="white-text mr-md-3 mr-2"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="/"> Blender</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->