
  <!-- Navigation-->
  <nav>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand >
          <a class="logo navbar-brand" routerLink="/"><mdb-icon class="fa-lg" title="Order and blend ." fas icon="blender-phone"></mdb-icon></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item  waves-light" routerLink="home" routerLinkActive="active"   mdbWavesEffect>
                  <a class="nav-link " >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" routerLink="products" routerLinkActive="active" mdbWavesEffect>
                  <a class="nav-link"  >Products</a>
              </li>
              <li class="nav-item waves-light" routerLink="stores"  routerLinkActive="active" mdbWavesEffect>
                  <a class="nav-link" >Stores</a>
              </li>
              <li class="nav-item waves-light" routerLink="contact" routerLinkActive="active" mdbWavesEffect>
                <a class="nav-link" >Contact us</a>
            </li>
              
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
         
        
            <li *ngIf="isAuth" class="nav-item dropdown" dropdown>              
               <app-cart></app-cart>
            </li>
           

              <li *ngIf = "isAuth" class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span></a>
                <div *dropdownMenu class="z-depth-5 dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dashboard</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect (click) = 'onLogout()' >Log out</a>
                </div>
              </li>

           
          

            
            <li *ngIf = "! isAuth" class="nav-item waves-light" mdbWavesEffect>
           
              <a class="nav-link" data-toggle="modal" data-target="#signInModal">   <mdb-icon fas icon="lock"></mdb-icon> Sign in</a>
          </li>

          </ul>
        
      </links>
    
  </mdb-navbar>
</nav>
