<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <h1 class="font-weight-bold title text-center" data-text="Blender"><span>Blender</span></h1>
                <br><br>
                <div class="white-text text-center wow fadeInUp " >
                    
                    <h4>Because your time matters.</h4>
                    <br>
                    <p class="font-weight-light">Just order and blend .</p>
                </div>
            </div>
        </div>
    </div>
</div>


                <div class="container">
                    <!--Grid row-->
                    <div class="row py-5">
                      <!--Grid column-->
                      <div class="col-md-12 text-center sofia h4-responsive" >
                          <p>
                        Blender is an unreal company created as a context fallowing this web application goals .
                Blender aims to provide an easy and simple solution to shop online .
                Blender offers for its customers and sotres a safe , reliable and simple plateform that answers their needs .
                You can explore the available porducts offered by a variety of providers .
                You can simply chose the provider you like with which you will order your needs  . 
                Just order and blend .
            </p>
                </div>
                      <!--Grid column-->
                    </div>
                    <!--Grid row-->
                  </div>
