<!--Section: Products v.2-->
<div class="container">
<main class="text-center pb-3 my-5">
  <header>
    <!--Section heading-->
    <h1 class="h1-respnsive  text-center py-5">Stores List</h1>
    <!--Section description-->
    <p class="grey-text mb-5">You can find here all the stores in Blender marketplace .</p>
    
    <div class="search">
      <span class="input-group-text border-0" id="search-addon">

      <i class="fas fa-search"></i>&nbsp;
      <input class="form-control" type="search" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for stores">
   
    </span>

    </div>
  </header>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div *ngIf="isUploading" class="spinner-grow m-auto text-primary" style="width: 15rem; height: 15rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <ng-container>
          <div *ngFor=" let store of stores | filter:searchText" class="col-lg-3 col-md-12 mb-3">
          <!--Card-->
        <app-store-item [store]="store"></app-store-item>
          <!--Card-->
        </div>
      </ng-container>

    </div>
  </main>

  <footer>

    <nav class="mt-3" aria-label="paginator">
      <ul class="pagination  pagination-lg justify-content-center">
        <li  class="page-item" [ngClass]="{'disabled': disablePrevious}"  >
          <a  class="page-link"   aria-disabled="true"  (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" >{{pageNumber}}</a>
          </li>
  
       
  
        <li class="page-item"  [ngClass]="{'disabled': disableNext}"  >
          
          <a class="page-link" (click)="nextPage()" >Next</a>
        </li>
      </ul>
    </nav>
  
  </footer>
  
</div>