<!--Section: Products v.2-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center h1 py-5">Stores</h2>
    <!--Section description-->
    <p class="grey-text pb-5">You can find in this section all the stores that we deal with</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
      <app-store-item></app-store-item>
        <!--Card-->
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
      <app-store-item></app-store-item>
        <!--Card-->
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
      <app-store-item></app-store-item>
        <!--Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
        <app-store-item></app-store-item>
          <!--Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
  </section>
