<mdb-card cascade="true" wider="true" class="card-ecommerce">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg"
        alt="sample photo"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card image-->
    <!--Card content-->
    <mdb-card-body cascade="true" class="text-center no-padding">
      <!--Category & Title-->
      <a href="" class="text-muted">
        <h5>Camera</h5>
      </a>
      <mdb-card-title>
        <h4 class="card-title">
          <strong>
            <a href="">GoPro</a>
          </strong>
        </h4>
      </mdb-card-title>
      <!--Description-->
      <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
      <!--Card footer-->
      <mdb-card-footer>
        <span class="float-left font-weight-bold">
          <strong>1439$</strong>
        </span>
        <span class="float-right">
          <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
            <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
          </a>
          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
            <mdb-icon fas icon="heart" class="grey-text ml-3"></mdb-icon>
          </a>
        </span>
      </mdb-card-footer>
    </mdb-card-body>
    <!--Card content-->
  </mdb-card>