

/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/scrollbar-style.scss'; //custom scrollbar


body {
  background-color: #fff;
}
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}


 
body {

  font-family: Arial, Helvetica, sans-serif;
}

.sofia {
  font-family: "Sofia", sans-serif;
}
.glower :hover , .logo :hover , .nav-item :hover{
  text-shadow: 3px 3px 50px #fff !important ;
}