<!-- Tabs navs -->
   <ul class="nav nav-tabs nav-justified mb-3"  role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-mdb-toggle="tab"
        href="#"
        role="tab"
        aria-selected="false"
        routerLink="create-store"
        >Create Store</a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-mdb-toggle="tab"
        href="#"
        role="tab"
        aria-selected="false"
        routerLink="edit-store"
        >Edit Store</a>
    </li>
    <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-mdb-toggle="tab"
          href="#"
          role="tab"
          aria-selected="false"
          routerLink="add-product"
          >Add Product</a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-mdb-toggle="tab"
          href="#"
          role="tab"
          aria-selected="false"
          routerLink="edit-product"
          >Edit Product</a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-mdb-toggle="tab"
          href="#"
          role="tab"
          aria-selected="false"
          routerLink="manage-orders/0"
          >Manage Orders</a>
      </li>
  </ul>
  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <router-outlet></router-outlet>
  <!-- Tabs content -->